<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="my-creds">
      <ion-icon name="finger-print"></ion-icon>
      <ion-label>Credentials</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="scan-qr">
      <ion-icon name="barcode"></ion-icon>
      <ion-label>Scan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="transactions">
      <ion-icon name="albums"></ion-icon>
      <ion-label>Transactions</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
